EpcListGenerator/obj/project.nuget.cache
EpcListGenerator/obj/project.assets.json
EpcListGenerator/obj/EpcListGenerator.csproj.nuget.g.targets
EpcListGenerator/obj/EpcListGenerator.csproj.nuget.g.props
EpcListGenerator/obj/EpcListGenerator.csproj.nuget.dgspec.json
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.GlobalUsings.g.cs
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.GeneratedMSBuildEditorConfig.editorconfig
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.assets.cache
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.AssemblyInfoInputs.cache
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.AssemblyInfo.cs
EpcListGenerator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EpcListGenerator/obj/Container/VsDbgScript.cache
EpcListGenerator/obj/Container/VolumeMappings2.cache
EpcListGenerator/obj/Container/VolumeMappings.cache
EpcListGenerator/obj/Container/TargetFramework.cache
EpcListGenerator/obj/Container/OperatingSystemName.cache
EpcListGenerator/obj/Container/LaunchedImageId.cache
EpcListGenerator/obj/Container/ImageId.cache
EpcListGenerator/obj/Container/ImageBuildContext.cache
EpcListGenerator/obj/Container/FastModeProjectMountDirectory.cache
EpcListGenerator/obj/Container/DistrolessHelperSupported.cache
EpcListGenerator/obj/Container/DebuggeeWorkingDirectory.cache
EpcListGenerator/obj/Container/DebuggeeProgram.cache
EpcListGenerator/obj/Container/DebuggeeKillProcessCommand.cache
EpcListGenerator/obj/Container/DebuggeeArguments.cache
EpcListGenerator/obj/Container/ContainerRunContext.cache
EpcListGenerator/obj/Container/ContainerOperatingSystemFlavor.cache
EpcListGenerator/obj/Container/ContainerName.cache
EpcListGenerator/obj/Container/ContainerId.cache
EpcListGenerator/obj/Container/ContainerDevelopmentMode.cache
EpcListGenerator/obj/Container/AdditionalProbingPaths.cache
EpcListGenerator/obj/Container/AbsoluteOutputAssemblyPath.cache
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/CodeChunks.db
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/CodeChunks.db-shm
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/SemanticSymbols.db
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
EpcListGenerator/.vs/EpcListGenerator/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
EpcListGenerator/.vs/EpcListGenerator/DesignTimeBuild/.dtbcache.v2
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/d354ada6-4127-4428-83e9-febff244196b.vsidx
EpcListGenerator/.vs/EpcListGenerator/v17/.suo
EpcListGenerator/.vs/EpcListGenerator/v17/DocumentLayout.json
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/CodeChunks.db
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/SemanticSymbols.db
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
OctaneTagWritingTest/.vs/OctaneTagWritingTest/DesignTimeBuild/.dtbcache.v2
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/099e74bd-25e9-41c0-ab3e-6b39f7ce5d2f.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/0b15126e-0481-42cb-b121-1a8aec6be88b.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/5df1cb33-7480-476d-ac58-5e1111f00fd7.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/89c2fabd-d0a9-49da-a60f-41331b01fdae.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/978712f2-83d6-4eaf-b2c8-28af0a9a45a6.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/v17/.futdcache.v2
OctaneTagWritingTest/.vs/OctaneTagWritingTest/v17/.suo
OctaneTagWritingTest/.vs/OctaneTagWritingTest/v17/DocumentLayout.backup.json
OctaneTagWritingTest/.vs/OctaneTagWritingTest/v17/DocumentLayout.json
OctaneTagWritingTest/.vs/ProjectEvaluation/octanetagwritingtest.metadata.v9.bin
OctaneTagWritingTest/.vs/ProjectEvaluation/octanetagwritingtest.projects.v9.bin
OctaneTagWritingTest/.vs/ProjectEvaluation/octanetagwritingtest.strings.v9.bin
OctaneTagWritingTest/obj/Container/AbsoluteOutputAssemblyPath.cache
OctaneTagWritingTest/obj/Container/AdditionalProbingPaths.cache
OctaneTagWritingTest/obj/Container/ContainerDevelopmentMode.cache
OctaneTagWritingTest/obj/Container/ContainerId.cache
OctaneTagWritingTest/obj/Container/ContainerName.cache
OctaneTagWritingTest/obj/Container/ContainerOperatingSystemFlavor.cache
OctaneTagWritingTest/obj/Container/ContainerRunContext.cache
OctaneTagWritingTest/obj/Container/DebuggeeArguments.cache
OctaneTagWritingTest/obj/Container/DebuggeeKillProcessCommand.cache
OctaneTagWritingTest/obj/Container/DebuggeeProgram.cache
OctaneTagWritingTest/obj/Container/DebuggeeWorkingDirectory.cache
OctaneTagWritingTest/obj/Container/DistrolessHelperSupported.cache
OctaneTagWritingTest/obj/Container/FastModeProjectMountDirectory.cache
OctaneTagWritingTest/obj/Container/ImageBuildContext.cache
OctaneTagWritingTest/obj/Container/ImageId.cache
OctaneTagWritingTest/obj/Container/LaunchedImageId.cache
OctaneTagWritingTest/obj/Container/OperatingSystemName.cache
OctaneTagWritingTest/obj/Container/TargetFramework.cache
OctaneTagWritingTest/obj/Container/VolumeMappings.cache
OctaneTagWritingTest/obj/Container/VolumeMappings2.cache
OctaneTagWritingTest/obj/Container/VsDbgScript.cache
OctaneTagWritingTest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.AssemblyInfo.cs
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.AssemblyInfoInputs.cache
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.assets.cache
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.csproj.AssemblyReference.cache
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.GeneratedMSBuildEditorConfig.editorconfig
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.GlobalUsings.g.cs
OctaneTagWritingTest/obj/OctaneTagWritingTest.csproj.nuget.dgspec.json
OctaneTagWritingTest/obj/OctaneTagWritingTest.csproj.nuget.g.props
OctaneTagWritingTest/obj/OctaneTagWritingTest.csproj.nuget.g.targets
OctaneTagWritingTest/obj/project.assets.json
OctaneTagWritingTest/obj/project.nuget.cache
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/6dea3c72-182b-43b4-8f4d-758a2cd23ec2.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/6e1a1bb4-af3b-43f6-86f4-a298a6147c36.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/97ab04f2-3578-406e-b2f3-c43203360c66.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/c8e5ceb5-16c8-4a3c-87a5-15e98c745aa5.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/e5e89a46-cfe8-43e2-9fbb-309bbb1eb493.vsidx
EpcListGenerator/.vs/EpcListGenerator/v17/.futdcache.v2
EpcListGenerator/.vs/EpcListGenerator/v17/DocumentLayout.backup.json
EpcListGenerator/.vs/ProjectEvaluation/epclistgenerator.metadata.v9.bin
EpcListGenerator/.vs/ProjectEvaluation/epclistgenerator.projects.v9.bin
EpcListGenerator/.vs/ProjectEvaluation/epclistgenerator.strings.v9.bin
EpcListGenerator/bin/Debug/net8.0/CsvHelper.dll
EpcListGenerator/bin/Debug/net8.0/EpcListGenerator.deps.json
EpcListGenerator/bin/Debug/net8.0/EpcListGenerator.dll
EpcListGenerator/bin/Debug/net8.0/EpcListGenerator.exe
EpcListGenerator/bin/Debug/net8.0/EpcListGenerator.pdb
EpcListGenerator/bin/Debug/net8.0/EpcListGenerator.runtimeconfig.json
EpcListGenerator/bin/Debug/net8.0/Impinj.OctaneSdk.dll
EpcListGenerator/bin/Debug/net8.0/Impinj.RShell.dll
EpcListGenerator/bin/Debug/net8.0/LLRP.dll
EpcListGenerator/bin/Debug/net8.0/LLRP.Impinj.dll
EpcListGenerator/bin/Debug/net8.0/Newtonsoft.Json.dll
EpcListGenerator/bin/Debug/net8.0/Renci.SshNet.dll
EpcListGenerator/bin/Debug/net8.0/TagUtils.dll
EpcListGenerator/bin/Debug/net8.0/TagUtils.pdb
EpcListGenerator/obj/Debug/net8.0/apphost.exe
EpcListGenerator/obj/Debug/net8.0/EpcListG.D8ECC34F.Up2Date
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.csproj.AssemblyReference.cache
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.csproj.CoreCompileInputs.cache
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.csproj.FileListAbsolute.txt
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.dll
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.genruntimeconfig.cache
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.pdb
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.sourcelink.json
EpcListGenerator/obj/Debug/net8.0/ref/EpcListGenerator.dll
EpcListGenerator/obj/Debug/net8.0/refint/EpcListGenerator.dll
TagUtils/.vs/TagUtils/CopilotIndices/17.12.68.61481/CodeChunks.db
TagUtils/.vs/TagUtils/CopilotIndices/17.12.68.61481/SemanticSymbols.db
TagUtils/.vs/TagUtils/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
TagUtils/.vs/TagUtils/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
TagUtils/.vs/TagUtils/DesignTimeBuild/.dtbcache.v2
TagUtils/.vs/TagUtils/FileContentIndex/38c29acd-9cf7-416c-a12d-40198bc14617.vsidx
TagUtils/.vs/TagUtils/FileContentIndex/a86ced71-801f-494e-893e-6fbe94fccfd5.vsidx
TagUtils/.vs/TagUtils/FileContentIndex/c56d8928-4316-4a72-9e9c-b39251ccaecb.vsidx
TagUtils/.vs/TagUtils/FileContentIndex/dc6ea373-e46f-4ed7-b6d8-a0320607bdd5.vsidx
TagUtils/.vs/TagUtils/v17/.futdcache.v2
TagUtils/.vs/TagUtils/v17/.suo
TagUtils/.vs/TagUtils/v17/DocumentLayout.backup.json
TagUtils/.vs/TagUtils/v17/DocumentLayout.json
TagUtils/bin/Debug/net8.0/TagUtils.deps.json
TagUtils/bin/Debug/net8.0/TagUtils.dll
TagUtils/bin/Debug/net8.0/TagUtils.pdb
TagUtils/Data/ImpinjTagMemoryLayouts.json
TagUtils/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TagUtils/obj/Debug/net8.0/ref/TagUtils.dll
TagUtils/obj/Debug/net8.0/refint/TagUtils.dll
TagUtils/obj/Debug/net8.0/TagUtils.AssemblyInfo.cs
TagUtils/obj/Debug/net8.0/TagUtils.AssemblyInfoInputs.cache
TagUtils/obj/Debug/net8.0/TagUtils.assets.cache
TagUtils/obj/Debug/net8.0/TagUtils.csproj.AssemblyReference.cache
TagUtils/obj/Debug/net8.0/TagUtils.csproj.CoreCompileInputs.cache
TagUtils/obj/Debug/net8.0/TagUtils.csproj.FileListAbsolute.txt
TagUtils/obj/Debug/net8.0/TagUtils.dll
TagUtils/obj/Debug/net8.0/TagUtils.GeneratedMSBuildEditorConfig.editorconfig
TagUtils/obj/Debug/net8.0/TagUtils.GlobalUsings.g.cs
TagUtils/obj/Debug/net8.0/TagUtils.pdb
TagUtils/obj/Debug/net8.0/TagUtils.sourcelink.json
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/0b27a485-34a5-42c9-8503-ac5a241621de.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/819885cc-3ace-4501-ba47-e32a39f5808b.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/8ba247eb-0744-444d-9480-ded428cfab0d.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/9fb8a37c-92f8-44bb-8761-f41c8afa6729.vsidx
EpcListGenerator/obj/Container/warmup.sem
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/ba8410c2-4f81-44b5-997b-81b3407aa70e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/a7b82fb9-f9a6-4145-aa00-03178967181e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/9b519488-0548-4782-8e37-d8356f2a9f8d.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/9a84d34f-ba8f-4b30-87b3-e4b0f4449aef.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/4e6cfe47-96e8-43e4-be6d-52c230c73b7e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/22f757f0-7ba6-44e9-9633-91d1a233c68d.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/40904ddb-596a-40cf-9c06-02a6fc31de08.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/d3db7521-9a39-4edf-927e-5aaa13f913e9.vsidx
EpcListGenerator/.vs/EpcListGenerator/FileContentIndex/dfbffa0e-5b80-4e3f-a82b-25addaaedfbd.vsidx
EpcListGenerator/bin/Debug/net8.0/epc_list.txt
EpcListGenerator/obj/Debug/net8.0/EpcListGenerator.csproj.BuildWithSkipAnalyzers
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/CodeChunks.db-shm
OctaneTagWritingTest/.vs/OctaneTagWritingTest/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/088425ba-f86e-4b77-8df7-5669d7ec568a.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/8d4399d4-d052-460d-9ae0-9704af8b185b.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/c51fb0cd-b2f5-45cf-92ad-c9aab3365223.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/cc4c1d7a-7878-431f-bc16-fa4facb628d6.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/deb2a17f-7f01-44cf-832a-fe781b4b57cd.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/epc_list.txt
OctaneTagWritingTest/bin/Debug/net8.0/Impinj.OctaneSdk.dll
OctaneTagWritingTest/bin/Debug/net8.0/Impinj.RShell.dll
OctaneTagWritingTest/bin/Debug/net8.0/LLRP.dll
OctaneTagWritingTest/bin/Debug/net8.0/LLRP.Impinj.dll
OctaneTagWritingTest/bin/Debug/net8.0/OctaneTagWritingTest.deps.json
OctaneTagWritingTest/bin/Debug/net8.0/OctaneTagWritingTest.dll
OctaneTagWritingTest/bin/Debug/net8.0/OctaneTagWritingTest.exe
OctaneTagWritingTest/bin/Debug/net8.0/OctaneTagWritingTest.pdb
OctaneTagWritingTest/bin/Debug/net8.0/OctaneTagWritingTest.runtimeconfig.json
OctaneTagWritingTest/bin/Debug/net8.0/Renci.SshNet.dll
OctaneTagWritingTest/obj/Debug/net8.0/apphost.exe
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTa.5D0BD8CE.Up2Date
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.csproj.BuildWithSkipAnalyzers
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.csproj.CoreCompileInputs.cache
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.csproj.FileListAbsolute.txt
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.dll
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.genruntimeconfig.cache
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.pdb
OctaneTagWritingTest/obj/Debug/net8.0/OctaneTagWritingTest.sourcelink.json
OctaneTagWritingTest/obj/Debug/net8.0/ref/OctaneTagWritingTest.dll
OctaneTagWritingTest/obj/Debug/net8.0/refint/OctaneTagWritingTest.dll
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/72041ace-06c6-43cb-ad6e-bb0da4928172.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/ad811090-8e28-4091-8cd6-3440e6c10dd2.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/b609623d-b2d2-46ec-8982-de7dd05f5961.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/dbec222b-c5a9-42a9-9cce-659cb6d51490.vsidx
TagUtils/obj/Debug/net8.0/TagUtils.csproj.BuildWithSkipAnalyzers
OctaneTagWritingTest/bin/Debug/net8.0/TestCase1_Log.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/3305cf9f-754c-4a53-9e59-31897a5d5464.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/b197821b-e0ae-46c0-afe5-684a14ccaf6e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/29c17e74-8666-4138-9792-ffa5e31fb683.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/6161f5fb-ed49-4749-b376-29835f6f159e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/cf8433d6-c0c4-46c1-aca4-8b8132c6f802.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/ddd945fa-4cd9-4661-83f1-08eb939aebe1.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/CsvHelper.dll
OctaneTagWritingTest/bin/Debug/net8.0/EpcListGenerator.deps.json
OctaneTagWritingTest/bin/Debug/net8.0/EpcListGenerator.dll
OctaneTagWritingTest/bin/Debug/net8.0/EpcListGenerator.exe
OctaneTagWritingTest/bin/Debug/net8.0/EpcListGenerator.pdb
OctaneTagWritingTest/bin/Debug/net8.0/EpcListGenerator.runtimeconfig.json
OctaneTagWritingTest/bin/Debug/net8.0/Newtonsoft.Json.dll
OctaneTagWritingTest/bin/Debug/net8.0/reader_settings.json
OctaneTagWritingTest/bin/Debug/net8.0/TagUtils.dll
OctaneTagWritingTest/bin/Debug/net8.0/TagUtils.pdb
OctaneTagWritingTest/bin/Debug/net8.0/TestCase1_Log-Gravacao-Teste-1-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-6.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase2_Log-Gravacao-Teste-1-Rodada-7.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-1-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-1-Rodada-10.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-1-Rodada-11.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-1-Rodada-8.csv.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-1-Rodada-9.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-6.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-7.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-2-Rodada-8.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-3-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-3-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-1-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase3_MultiAntenna_Log-Gravacao-Teste-1-Rodada-1.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/58e8d7b5-06dc-4b35-8ed1-86ab08deb02a.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/435d82a3-5668-4aee-83e5-222849a02710.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/1a0cc570-19cb-4a1e-9ba8-a5cec68d2b8f.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/556cef88-4f74-4d87-b49b-f0e419de9417.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/b5355d0a-ee68-487a-aac8-80267da19bba.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/f72a5d96-b364-4b22-8ffe-9d9e20f8164a.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/TestCase3_MultiAntenna_Log-Gravacao-Teste-3-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-3-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-3-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase6_Robustness_Log-Gravacao-Teste-3-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-10.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-11.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-12.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-13.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-8.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-3-Rodada-9.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/45d60352-e1ff-4fe4-b8f2-6d7353a425c1.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/9cb5eca0-79e4-4152-b3ed-a1c0d639f212.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/d6109588-f698-4730-ae44-e8dd7875879c.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/TestCase4_VerificationCycle_Log-Gravacao-Teste-4-Rodada-8.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase4_VerificationCycle_Log-Gravacao-Teste-4-Rodada-9.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-10.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-11.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-12.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-13.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-5.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-6.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-7.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-8.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-4-Rodada-9.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-5-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-5-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-5-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-5-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-6-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-6-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-6-Rodada-3.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-6-Rodada-4.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-7-Rodada-1.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-7-Rodada-2.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Endurance_Log-Gravacao-Teste-7-Rodada-3.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/091453e5-e553-43c9-85b4-65c0cf0a1bd9.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/345c2cc2-4ca5-4428-9aff-870464fac138.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/7a3eeb37-0475-40df-82e1-97d76693e012.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/af4698e4-d341-4fba-83d9-ab685e6aae52.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/19d48c7f-d277-4337-933c-cbeddbcaf7d6.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/1faa6366-14b9-4a52-87ef-6ed6a905e916.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/398eb87b-42c8-4e42-bd80-30864f589030.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/68e525ee-018b-463c-b5f7-fa06ec4b58d1.vsidx
OctaneTagWritingTest/update_all_strategies.ps1
OctaneTagWritingTest/update_remaining_strategies.ps1
OctaneTagWritingTest/update_strategies.ps1
OctaneTagWritingTest/.vs/OctaneTagWritingTest/copilot-chat/cc2c9ddf/sessions/df2b549f-87ec-4388-a724-ce185fe36670
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/c5a21cc1-97e8-4dd0-8847-b5edc429216d.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/reader_settings/verifier.json
OctaneTagWritingTest/bin/Debug/net8.0/reader_settings/writer.json
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Rodada-1-u8-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Rodada-1-u8-validacao10Itens-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-1-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-1-ensaio-10itens.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-2-cadencia-ok.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-2-cadencia.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/f24492e9-ce08-4e5f-b0e2-aabfe0820e25.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Fix-Gravacao-Teste-1-Tarde-Rodada-1-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-1-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-2-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-2-Rodada-3-.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/9a20dd57-ec2a-4ce6-9fee-2c7fb0646890.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-2-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-3-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-RE-Gravacao-Teste-1-Tarde-Rodada-1-.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/68040986-ec6a-4c56-aa99-ae2913a7a6bf.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/afd38365-d227-4137-adae-5a772f574666.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/af6e8958-54d6-488b-ae09-05a57b6cc44f.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/9474108b-bb71-4870-9ce2-e89605966d53.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/a2560a8c-3e3d-4405-b03c-f77e22921f31.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/reader_settings/writer.local.json
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Manha-Rodada-4-2603.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-3-Manha-Rodada-1-.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-3-Manha-Rodada-1-10-itens.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-4-Manha-Rodada-1-10-itens.csv
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/cb0f355d-6286-46f4-ab87-5a933954aa8e.vsidx
OctaneTagWritingTest/.vs/OctaneTagWritingTest/FileContentIndex/f6783da7-9102-44b2-a907-eeb10e32bf97.vsidx
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-5-2603.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-6-2603.csv
OctaneTagWritingTest/bin/Debug/net8.0/TestCase8_Log-DualReaderEnduranceStrategy-Gravacao-Teste-1-Tarde-Rodada-7-2603.csv
/OctaneTagWritingTest/.vs/OctaneTagWritingTest
